/* ProjectGrids.css */
.image-container {
  width: 288px; /* Increased from 256px */
  height: 288px; /* Increased from 256px */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Optional: background color */
}

.image-container img {
  width: 100%; /* This ensures the image still covers the full container */
  height: 100%;
  object-fit: cover;
}

/* CSS for enhancing the fade-in effect with a blur transition */
.fade-in {
  animation: fadeInBlur 1s ease-in forwards;
}

@keyframes fadeInBlur {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Pulsate effect for placeholders */
.react-lazy-load-image-placeholder {
  animation: pulsate 2s ease-in-out infinite;
}
