/* ProjectGrids.css */
.image-container {
  width: 288px; /* Increased from 256px */
  height: 288px; /* Increased from 256px */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; /* Adjusted padding to provide more space for the shadow */
  background-color: #fff; /* Optional: background color */
}

.image-container img {
  width: 100%; /* This ensures the image still covers the full container */
  height: 100%;
  object-fit: cover;
}
