@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/assets/fonts/fonts.css */
@font-face {
  font-family: "Bugrino-Regular";
  src: url("/font/Bugrino-Regular.woff") format("woff"); /* Adjust the path based on where you placed your font files */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bugrino-Bold";
  src: url("/font/Bugrino-Bold.woff") format("woff"); /* Adjust the path based on where you placed your font files */
  font-weight: normal;
  font-style: normal;
}

body {
  cursor:
    url("/Asset 2mouse regular.svg") 16 16,
    auto; /* Adjust the size as needed */
}
